// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html
/ {
	zephyr,user {
		io-channels = <&adc 2>;
	};
};
&adc {
	#address-cells = <1>;
	#size-cells = <0>;
	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN1>; /* P0.03 */
		zephyr,resolution = <12>;
	};
	channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN2>; /* P0.04 */
		zephyr,resolution = <12>;
	};

	status = "okay";

	interrupts = <7>, <3>;
};
&comp {
	status = "okay";
};
&uart0 {
	current-speed = <1000000>;
	interrupts = <2>, <4>;
};

&i2c0 {
	clock-frequency = <I2C_BITRATE_FAST>;
	label = "I2C_0";
	status = "disabled";
};

&clock {
	status = "okay";
};

&timer0 {
	status = "okay";
	interrupts = <8>, <5>;
};

&timer1 {
	status = "okay";
	zli;
	interrupts = <4>, <NRF_DEFAULT_IRQ_PRIORITY>;
};

&timer2 {
	status = "okay";
};

&nvic {
	status = "okay";
};

&power {
	status = "disabled";
};

&bprot {
	status = "disabled";
};

&timer3 {
	status = "okay";
};
